# Imorting Packages and Loading Data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
!gdown --id 1iiZ3i1x_XKvuiD4Ff_qcwXbrQNcHVSR6

Downloading...
From: https://drive.google.com/uc?id=1iiZ3i1x_XKvuiD4Ff_qcwXbrQNcHVSR6
To: /content/filtered_data.csv
100% 63.9M/63.9M [00:00<00:00, 83.5MB/s]

In [ ]:
data = pd.read_csv("filtered_data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data.head()

      city state house         street  ... fireplace water  sewer  housePrice
0  Lilburn    GA   510  Village Green  ...   Masonry   Yes    NaN      200300
1  Lilburn    GA   540  Village Green  ...   Masonry   Yes    NaN      193800
2  Lilburn    GA  5133          Arbor  ...   Masonry   Yes    NaN      197500
3  Lilburn    GA   215          Shunn  ...   Masonry   Yes    NaN      204700
4  Lilburn    GA   195          Shunn  ...   Masonry   Yes    NaN      195900

[5 rows x 29 columns]

# Preprocessing Part 1

In [ ]:
data = data.drop(columns=["zip4"], axis=1)

In [ ]:
data["zip4"].value_counts(dropna=False)

NaN       34893
3219.0      127
4718.0      119
3069.0      119
7628.0      110
          ...
9769.0        1
8095.0        1
8099.0        1
9807.0        1
9262.0        1
Name: zip4, Length: 8521, dtype: int64

In [ ]:
(data.dropna(subset=["street"])["city"])

0         Lilburn
1         Lilburn
2         Lilburn
3         Lilburn
4         Lilburn
           ...
286920     Buford
286921     Buford
286922     Buford
286923     Buford
286924     Buford
Name: city, Length: 275941, dtype: object

In [ ]:
data["zip"].value_counts(dropna=False)

30043.0    26179
30044.0    25540
30047.0    21565
30024.0    18157
30518.0    17488
30096.0    17035
30019.0    16845
30519.0    16175
30039.0    15922
30078.0    13780
30045.0    13682
30052.0    12409
30046.0    12051
30093.0     9867
30092.0     8816
30017.0     8283
30071.0     7326
30097.0     7295
30087.0     4424
30084.0     3268
30011.0     2355
30548.0     1831
30517.0     1589
30340.0     1204
NaN         1129
30620.0      955
30360.0      946
30012.0       22
30058.0       10
30350.0        2
30041.0        1
30515.0        1
Name: zip, dtype: int64

In [ ]:
(len(data["street"]))

286925

In [ ]:
data["street"].value_counts(dropna=False)

NaN                     10984
Buford                    951
Rockbridge                575
Oak                       554
Peachtree Industrial      520
                        ...
Jarman                      1
Univerity Center            1
Red Cruse                   1
Southern Woods              1
Mountain Ind                1
Name: street, Length: 9571, dtype: int64

In [ ]:
list(data["streetSuffix"].str.lower().value_counts(dropna=False)).count("nan")

0

In [ ]:
[' '.join(i) for i in zip(data["street"].map(str),data["streetSuffix"].map(str))]

In [ ]:
pd.concat([data["street"], data["streetSuffix"]])

In [ ]:
data["city"].unique()

array(['Lilburn', 'TUCKER', 'Stone Mountain', 'Tucker', 'LILBURN',
       'Lawrenceville', 'Snellville', 'BUFORD', 'LAWRENCEVILLE',
       'STONE MOUNTAIN', 'SNELLVILLE', 'Loganville', 'Dacula', 'DACULA',
       'Norcross', 'Bethlehem', 'BETHLEHEM', 'NORCROSS', 'Auburn',
       'AUBURN', 'Buford', 'Duluth', 'Atlanta', nan, 'DULUTH', 'Suwanee',
       'SUWANEE', 'Peachtree Corners', 'PEACHTREE CORNERS', 'ATLANTA',
       'Grayson', 'LOGANVILLE', 'GRAYSON', 'Hoschton', 'Braselton',
       'BRASELTON', 'HOSCHTON', 'CONYERS', 'Conyers', 'Lithonia',
       'Cumming'], dtype=object)

In [ ]:
!gdown --id 1OxS3PzFvj5QIhFdBdscv6JBupg3CjzBN

Downloading...
From: https://drive.google.com/uc?id=1OxS3PzFvj5QIhFdBdscv6JBupg3CjzBN
To: /content/States.csv
100% 632/632 [00:00<00:00, 966kB/s]

In [ ]:
states = pd.read_csv("States.csv")["States"]

In [ ]:
states.head()

0       Alabama
1        Alaska
2       Arizona
3      Arkansas
4    California
Name: States, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
data["city"] = data["city"].str.lower()

In [ ]:
data["city"].head()

0    lilburn
1    lilburn
2    lilburn
3    lilburn
4    lilburn
Name: city, dtype: object

In [ ]:
data["city"].value_counts(dropna=False)

lawrenceville        77601
buford               33733
snellville           29786
duluth               24481
lilburn              21603
suwanee              18356
norcross             17328
dacula               17022
loganville           12482
peachtree corners     8805
grayson               8317
stone mountain        4415
tucker                3271
auburn                2357
atlanta               2151
hoschton              1820
braselton             1633
bethlehem              958
NaN                    773
conyers                 22
lithonia                10
cumming                  1
Name: city, dtype: int64

In [ ]:
data = data.dropna(subset=["city"])

In [ ]:
data.head()

In [ ]:
def label_encode(data, column):
  le = LabelEncoder()
  le.fit(data[column])
  data[column] = le.fit_transform(data[column])
  return data

In [ ]:
data["city"].unique()

array([12, 20, 18, 11, 17,  4, 14,  7, 15,  2,  1,  8,  0, 19, 16,  9, 10,
        3,  5, 13,  6])

In [ ]:
len(data["street"].str.lower().unique())

9571

In [ ]:
data["street"].value_counts(dropna=False)

NaN                     10211
Buford                    951
Rockbridge                575
Oak                       554
Peachtree Industrial      520
                        ...
Jarman                      1
Univerity Center            1
Red Cruse                   1
Southern Woods              1
Mountain Ind                1
Name: street, Length: 9571, dtype: int64

In [ ]:
data = label_encode(data, "street")

# Preprocessing Part 2

In [ ]:
# Dropping "zip4", "unit", "foundation", "sewer"  column
data.drop(columns=["zip4", "unit", "foundation", "sewer"], inplace=True)

In [ ]:
data.head()

In [ ]:
# Now we remove all the NaNs belonging to categorical features, since we have huge amount of data
data = data.dropna(subset=["city", "state", "street", "streetSuffix", "landUseDescription", "zoningDescription", "lotTopography","condition","architecturalStyle", "heating", "fireplace"])

In [ ]:
data.isna().sum()

city                     773
state                      0
house                  10984
street                 10984
streetSuffix           12070
unit                  260174
zip                     1332
zip4                   34893
latitude                   0
longitude                  0
landUseDescription         0
zoningDescription      11795
lotSizeAcres             154
lotSizeSquareFeet        154
lotTopography          41216
condition              17444
architecturalStyle     83644
yearBuilt              17320
totalStories           19504
totalRooms             29911
bedrooms               29795
baths                  30039
heating                30978
airConditioning        20609
foundation            239294
fireplace              51636
water                  42860
sewer                 115998
housePrice                 0
dtype: int64

In [ ]:
data.describe()

                 zip       latitude  ...          baths    housePrice
count  161248.000000  161248.000000  ...  161233.000000  1.612480e+05
mean    30107.554425      33.954421  ...       2.886227  2.670727e+05
std       155.455230       0.088952  ...       0.850638  1.438870e+05
min     30011.000000      33.755535  ...       1.000000  2.000000e+03
25%     30043.000000      33.885061  ...       2.000000  1.921000e+05
50%     30046.000000      33.949320  ...       3.000000  2.365000e+05
75%     30087.000000      34.020451  ...       3.000000  3.023000e+05
max     30620.000000      34.161819  ...      20.000000  8.800000e+06

[8 rows x 11 columns]

In [ ]:
corr = data.corr()
corr

                        zip      zip4  latitude  ...  bedrooms     baths  housePrice
zip                1.000000  0.085734 -0.023154  ...  0.017302  0.005342    0.004869
zip4               0.085734  1.000000  0.004276  ...  0.114327  0.095428   -0.009316
latitude          -0.023154  0.004276  1.000000  ...  0.017486  0.006724    0.011741
longitude          0.032104  0.194380 -0.999883  ... -0.012653 -0.002833   -0.011551
lotSizeAcres       0.006603 -0.046260 -0.113042  ... -0.014185 -0.014935    0.335257
lotSizeSquareFeet  0.006603 -0.046260 -0.113042  ... -0.014184 -0.014935    0.335257
yearBuilt          0.085572  0.275005  0.008186  ...  0.349765  0.450798    0.040297
totalStories      -0.009609  0.112869  0.027241  ...  0.378994  0.520884    0.019448
totalRooms        -0.022471  0.109777  0.030471  ...  0.649919  0.513926    0.436040
bedrooms           0.017302  0.114327  0.017486  ...  1.000000  0.592589    0.445392
baths              0.005342  0.095428  0.006724  ...  0.592589  1.000000    0.618993
housePrice         0.004869 -0.009316  0.011741  ...  0.445392  0.618993    1.000000

[12 rows x 12 columns]

In [ ]:
def check_correlation(feature_df, target_df):
  r = feature_df.corr(target_df)
  print(f"The correlation coefficient is: {r}.")

In [ ]:
feature = "longitude"
target = "lotSizeSquareFeet"
check_correlation(data[feature], data[target])

The correlation coefficient is: 0.11319012448073314.

In [ ]:
data["heating"].value_counts()

Forced air    169894
Yes              872
Central           65
None              20
Heat Pump          7
Name: heating, dtype: int64